<!DOCTYPE html>
<html>
<head>
    <title>Homepage Template</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="navbar">
        <a href="/">Homepage</a>
        <a href="/aboutUs">About Us</a>
        <a href="/faq">F.A.Q.s</a>
        <a href="/login">Login/Registration</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Feeling Lucky?</a>
    </div>


    <h1 class="title">The Silver Surfer Snowboard Shop</h1>
    <div class = "cartIcon">
        <a href="/cart">
        <img src="images/shopping-cart.png">
        </a>
    </div>

    <div class="userIcon">
        <a href="/login">
            <img src="images/user-icon.png" alt="User">
        </a>
    </div>


    <div class="container">
        <% Object.keys(products).forEach(key => { %>
            <div class="grid-item">
                <a href="/product/<%= key %>">
                    <img src="/<%= products[key].image %>" alt="<%= products[key].name %>">
                    <h2><%= products[key].name %></h2>
                    <p>$<%= products[key].price %></p>
                </a>
            </div>
        <% }); %>
    </div>


</body>
</html>