<!DOCTYPE html>
<html>
<head>
    <title>Homepage Template</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    
    <div id="navbar">
        <a href="/">Homepage</a>
        <a href="/aboutUs">About Us</a>
        <a href="/faq">F.A.Q.s</a>
        <a href="/login">Login/Registration</a>
        <a href="/logout">Logout</a>
        <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Feeling Lucky?</a>-->
    </div>

    <h1 class="title">The Silver Surfer Snowboard Shop</h1>
    
    <div class="search-bar">
        <form action="/search" method="GET">
          <input type="text" name="q" placeholder="Search for products..." required>
          <button type="submit">Search</button>
        </form>
      </div>
    


    
    <div class = "cartIcon">
        <a href="/cart">
        <img src="images/shopping-cart.png">
        </a>
    </div>

    <div class="userIcon" style="text-align: center;">
        <a href="/<%= user ? 'profile' : 'login' %>">
            <img src="images/user-icon.png" alt="User">
        </a>
        <% if (user) { %>
            <p style="margin-top: 5px;"><%= user.name %></p>
        <% } %>
    </div>

    



    <div class="container">
        <% Object.keys(products).forEach(key => { %>
            <div class="grid-item">
                <a href="/product/<%= key %>">
                    <div class="product-info">
                        <img src="/<%= products[key].image %>" alt="<%= products[key].name %>">
                    
                        <h2><%= products[key].name %></h2>
                        <p>$<%= products[key].price %></p>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>


</body>
</html>