<!DOCTYPE html>
<html>
<head>
    <title>Search Results for "<%= query %>"</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div id="navbar">
        <a href="/">Homepage</a>
        <a href="/aboutUs">About Us</a>
        <a href="/faq">F.A.Q.s</a>
        <a href="/login">Login/Registration</a>
    </div>

    <div class = "cartIcon">
        <a href="/cart">
        <img src="images/shopping-cart.png">
        </a>
    </div>


    <div class="userIcon" style="text-align: center;">
        <a href="/<%= user ? 'profile' : 'login' %>">
            <img src="images/user-icon.png" alt="User">
        </a>
        <% if (user) { %>
            <p style="margin-top: 5px;"><%= user.name %></p>
        <% } %>
    </div>

    <h1 class="title">Search Results for "<%= query %>"</h1>

    <div class="container">
        <% if (Object.keys(products).length === 0) { %>
            <p>No products found.</p>
        <% } else { %>
            <% Object.keys(products).forEach(key => { %>
                <div class="grid-item">
                    <a href="/product/<%= key %>">
                        <img src="/<%= products[key].image %>" alt="<%= products[key].name %>">
                        <h2><%= products[key].name %></h2>
                        <p>$<%= products[key].price %></p>
                    </a>
                </div>
            <% }) %>
        <% } %>
    </div>

    <a href="/" id="backButton">Back to Home</a>

</body>
</html>
